@import './fonts';
@import './vars';

:root {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  background-color: $bg-main;
  overflow: overlay;
  -moz-overflow: overlay;
  color: $bg-font-color;

  .using-mouse :focus {
    outline: none;
    background-color: transparent;
  }
}

:focus {
  outline: none;
  background-color: $bg-font-hover;
}

body.using-mouse :focus {
  outline: none;
  background-color: transparent;
}
